[submodule "external/jackbengine"]
	path = external/jackbengine
	url = git@github.com:Jackbenfu/Jackbengine.git
	branch = master
	ignore = all
[submodule "external/resourceGenerator"]
	path = external/resourceGenerator
	url = git@github.com:Jackbenfu/ResourceGenerator.git
	branch = master
	ignore = all
