# Submodules
/external/jackbengine/
/external/resourceGenerator/

# Mac OS
.DS_Store

# CLion
.idea/

# Generated source files
resources.cpp
libjackbengine.bc
pong.html
pong.html.mem
pong.js
resourceGenerator
