[submodule "external/jackbengine"]
	path = external/jackbengine
	url = git@bitbucket.org:Jackbenfu/jackbengine.git
	ignore = dirty
[submodule "external/resourceGenerator"]
	path = external/resourceGenerator
	url = git@bitbucket.org:Jackbenfu/resourcegenerator.git
	ignore = dirty
